
body{
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
}
.container-custom {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}
.card-custom {
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 1px #eee;
  box-shadow: 0 0 10px 1px #eee;
  border-radius: 2px;
}
.item{
  position: relative;
  display: inline-block;
  margin: 26px 0 0 20px;
  vertical-align: top;
  font-size: 16px;
  width: 447px;
  overflow: hidden; 
}
.cover img{
  width: 142px;
  float: left;
  height: auto;
}

.content{
  width: 295px;
  float: left;
  margin-left: 10px;
}

a.title{
  font-weight: 600;
  color: #222;
  font-size: 18px;
  line-height: 30px;
  height: 24px;
  overflow: hidden;
  margin-bottom: 3px;
  cursor: pointer;
}

a.username{
  color: #6f6f6f;
  cursor: pointer;
  font-size: 15px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  display: block;
  margin-bottom: 3px;
}

a.title-modal{
  font-weight: 600;
  color: #222;
  font-size: 18px;
  line-height: 30px;
  height: 24px;
  overflow: hidden;
  margin-bottom: 3px;
  cursor: pointer;
}

.username-modal{
  color: #6f6f6f;
  cursor: pointer;
  font-size: 15px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  display: block;
  margin-bottom: 3px;
}

.description-modal{
  margin-top:24px;
  font-size: 15px;
  margin-bottom:24px; 
  padding-right: 10px;
}

.item .content .description {
  margin-top:24px;
  font-size: 15px;
  margin-bottom:24px; 
  padding-right: 10px;
}

a.button{
  background-color:#ff6122;
  margin-top:8px;
  padding:9px 16px;
  text-decoration: none;
  color:white;
  border-radius:3px;
  font-size:15px;
}

a.button-close {
  background-color: #fafafa;
  margin-top:8px;
  padding:9px 16px;
  text-decoration: none;
  color: #ff6122;
  border-radius:3px;
  font-size:15px;
  border: 1px solid #ff6122;
}

.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.search-input{
  padding:10px;
  width:100%;
}

.search-button{
  background-color:#ff6122;
  padding:9px 24px;
  text-decoration: none;
  color:white;
  border-radius:3px;
  font-size:15px;
  border: 1px solid #ff6122;
}

@media only screen and (max-width: 700px) {
  .container-custom {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .item {
    padding-bottom:10px;
    margin: 26px 20px 0px 20px;
    border-bottom: 0.5px solid #ebebeb;
  }
  .item .content .description {
    margin-top:14px;
    font-size: 13px;
  }
  
  .cover img{
    width:200px;
  }
  .content{
    margin-left: 0px;
    margin-top:10px;
    width:100%;
    margin-bottom: 10px;
  }

.search-button{
  margin-top:10px;
  width:100%;
  background-color:#ff6122;
  padding:9px 24px;
  text-decoration: none;
  color:white;
  border-radius:3px;
  font-size:15px;
  border: 1px solid #ff6122;
}
}